.container {
  padding: var(--pading-page-sm);
  background-color: var(--color-yellow-200);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h3 {
  font-size: 7rem;
}

.container a {
  color: var(--color-white-100);
  background-color: var(--color-brown-600);
  padding: 0.5rem 1.1rem;
  border-radius: 5rem;
  font-size: 1rem;
  transition: all 0.2s;
}

.container a:hover {
  background-color: var(--color-white-100);
  color: var(--color-brown-600);
}

@media (min-width: 730px) {
  .container {
    padding: var(--pading-page-lg);
  }

  .container h3 {
    font-size: 12rem;
  }

  .container a {
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
  }
}
